@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark light;
    background-color: #000000;
    color: #ffffff;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}